{% extends "index.html" %}
        {% block right_div %}
            {% if form_error %}
                <p class="error">Sorry, that's not a valid username or password</p>
            {% endif %}
            <form class="login-form" action="/login" onsubmit="return " method="post">
                {% csrf_token %}
                <p>
                    <label for="username">Email Address</label>
                </p>
                <input class="form-input" type="text" list="itemlist" name="username" id="username">
                <datalist id="itemlist">
                    <option></option>
                </datalist>
                <p>
                    <label for="password">Password</label>
                </p>
                <input class="form-input" type="password" name="password" id="password">
                <div class="submit">
                    <label for="rememberme">
                        <input class="form-input" type="checkbox" name="rememberme" id="rememberme">
                        Remember Me
                    </label>
                    <input type="submit" name="submit" value="Log in" id="submit">
                </div>
            </form>
        {% endblock %}
